.post-update-wrapper {

  .post-update-group {
    margin-top: 20px;
  }

  .post-update-content {

    textarea {
      max-width: 600px;
    }
  }

  .post-update-img {

    img {
      max-width: 400px;
      max-height: 400px;
      margin-top: 1rem;
    }
  }
}