#lottie-404 {
  max-width: 500px;
  margin: auto;

}

.content-404 {

  h2 {
    text-align: center;
    margin: auto;
  }

}

.btn-404 {

  margin: 30px auto 0;
  display: flex;

  .btn-log {
    padding: 10px;
    margin: 0 auto 50px;
    text-decoration: none;
    color: $dark;
    border: solid 2px $primary;
    border-radius: 10px;

    &:hover {
      background-color: $primary;
    }
  }
}