#main {
  min-height: calc(100vh - 66px);
  padding-top: 70px;
  background-image: url("/assets/img/bg.png");
  background-position: center;
  background-repeat: repeat-y;
  background-size: contain;
  font-family: $font-site;
  background-color: $white;
  color: $dark;


  @include color-scheme(dark) {
    background-color: $dark;
    color: $white;
  }

}

#main-post-edit {
  min-height: calc(100vh - 66px);
  padding: 70px 0;
  background-image: url("/assets/img/bg.png");
  background-position: center;
  background-repeat: repeat-y;
  background-size: contain;
  font-family: $font-site;
  background-color: $white;
  color: $dark;

  @include color-scheme(dark) {
    background-color: $dark;
    color: $white;
  }
}

#main-subscriptions {
  min-height: calc(100vh - 66px);
  padding-top: 70px;
  background-image: url("/assets/img/bg.png");
  background-position: center;
  background-repeat: repeat-y;
  background-size: contain;
  font-family: $font-site;
  background-color: $white;
  color: $dark;

  @include color-scheme(dark) {
    background-color: $dark;
    color: white;
  }
}

#main-admin {
  min-height: calc(100vh - 66px);
  background-color: $white;
  color: $dark;

  @include color-scheme(dark) {
    background-color: $dark;
    color: $white;
  }
}

#page-wrapper {
  background-color: $white;
  color: $dark;
  padding: 70px;

  @include color-scheme(dark) {
    background-color: $dark;
    color: $white;
  }

  #content-wrapper {
    padding: 20px;
  }

.table {
  color: $white;
}

}

#main-user {
  min-height: calc(100vh - 66px);
  padding-top: 70px;
  background-image: url("/assets/img/bg-2.png");
  background-position: center;
  background-repeat: repeat-y;
  background-size: contain;
  font-family: $font-site;
  background-color: white;
  color: $dark;

  @include color-scheme(dark) {
    background-color: $dark;
    color: $light;
  }
}

#main-login {
  min-height: calc(110vh);
  background-image: url("/assets/img/bg-2.png");
  background-position: center;
  background-repeat: repeat-y;
  background-size: contain;
  font-family: $font-site;
  background-color: white;
  color: $dark;

  @include color-scheme(dark) {
    background-color: $dark;
    color: $light;
  }
}

#main-register {
  min-height: calc(110vh);
  padding-top: 70px;
  background-image: url("/assets/img/bg-2.png");
  background-position: center;
  background-repeat: repeat-y;
  background-size: contain;
  font-family: $font-site;
  background-color: white;
  color: $dark;

  @include color-scheme(dark) {
    background-color: $dark;
    color: $light;
  }
}