#main {
  background-image: url("/assets/img/bg.png");
  background-position: center;
  background-repeat: repeat-y;
  background-size: contain;
  font-family: $font-site;
  background-color: white;
  color: $dark;

  //  @include color-scheme(dark){
  //    background-color: $dark;
  //    color: $light;
  //  }
}
#main-bis {
  background-image: url("/assets/img/bg.png");
  background-position: center;
  background-repeat: repeat-y;
  background-size: contain;
  font-family: $font-site;
  background-color: white;
  color: $dark;
}