#auth-content {

  .connexion {
    max-width: 450px;
    margin-top: 5rem;
  }

  .card-header {
    background-color: #d7ffc7;
  }

  .card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .lost-mdp a {
    text-decoration: none;
    font-size: 13px;
  }

  .card-body {
    border-radius: 20px 20px 0 0;
    background-color: white;

    .btn-log {
      border: solid 2px #d7ffc7;;
      background-color: white;

      &:hover {
        background-color: #d7ffc7;

      }
    }

  }

  .connexion-footer {

    max-width: 450px;
    margin-top: 1rem;

    .inscription-possibility {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      align-content: center;
      border-radius: 0 0 20px 20px;

      a {
        text-decoration: none;
        padding: 2px;
        color: black;
      }
    }
  }
}