#auth-content {

  .card-header {
    background-color: #d7ffc7;
  }

  .card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .lost-mdp a {
    text-decoration: none;
    font-size: 13px;
  }

  .card-body {

    .btn-log {
      border: solid 2px #d7ffc7;
      background-color: white;

      &:hover {
        background-color: #d7ffc7;

      }
    }

  }

  .connexion-footer {

    .inscription-possibility {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      align-content: center;

      a {
        text-decoration: none;
        padding: 2px;
        color: black;
      }
    }
  }
}